.navbar {
  background-color: #333;
  padding: 10px 20px;
  z-index: 2000;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-item {
  margin: 0 15px;
}

.navbar-link {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}

.navbar-link:hover {
  color: #ffcc00;
}

.navbar-button {
  background-color: #ffcc00;
  border: none;
  padding: 5px 10px;
  font-size: 1rem;
  cursor: pointer;
}

.navbar-button:hover {
  background-color: #ff9900;
}

.navbar-logo-img {
  height: 100px;
  width: auto;
  margin: -20px 0;
  position: relative;
  z-index: 1; /* Keeps it above other elements */
}

.navbar-toggle {
  display: none;
  background: none;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .navbar-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .navbar-menu {
    display: none;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #333;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 1100; /* Ensure dropdown appears in front of AuthPopup */
  }

  .navbar-item {
    margin: 10px 0;
  }

  .navbar-link {
    font-size: 0.875rem; /* Smaller font size for smaller screens */
  }
}


